<div class="mat-typography container">
  <div class="app-main-header">
    <h1 class="mat-display-2">{{title}}</h1>
  </div>
  <div class="app-main-body">
    <mat-sidenav-container class="dashboard-container">
      <mat-sidenav mode="side" opened class="navlink-sidebar">
        <mat-nav-list>
          <a mat-list-item routerLink="/requirements">Open Requirements</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/resourceupload">Resource Upload</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
